* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 1200px;
    font: 12px/20px "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
}

.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}

.m-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    z-index: 2000;
    width: 35px;
    height: 100%;
    font-size: 12px;
    color: #fff;
}




.conter {
    width: 1200px;
    margin: auto;








    .wrapper {
        font-size: 0;
        word-spacing: -1px;
        text-align: left;
        height: 20px;
        padding: 10px 0;
        margin: 0 auto;

        i {
            display: inline-block;
            width: auto;
            height: auto;
            line-height: normal;
            vertical-align: baseline;
            background-image: none;
            background-position: 0% 0%;
            background-repeat: repeat;
            margin-top: 0;
            font-size: 14px;
            color: #AAA;
            margin-right: 4px;
        }

        span {
            font-size: 12px;
            line-height: 20px;
            color: #575757;
            letter-spacing: normal;
            word-spacing: normal;
            display: inline-block;
            height: 20px;
            zoom: 1;

            a {
                color: #777;
                display: block;
            }


        }

        span:last-child {

            color: #999;

        }

        .arrow {
            font-family: "宋体";
            line-height: 20px;
            color: #AAA;
            margin: 0 6px;
        }


    }


    .magnifier {
        // position: relative;
        width: 360px;
        position: relative;
        // padding: 0;
        // margin-top: 100px;
        // margin-left: 100px;

        .magnifier-container {
            width: 360px;
            height: 360px;
            overflow: hidden;
            position: relative;
            border: 1px solid #ddd;

            .images-cover {
                height: 100%;
                width: 100%;
                position: relative;


            }

            .move-view {
                width: 72px;
                height: 72px;
                left: 289px;
                top: 244px;
                display: none;
            }
        }

        .magnifier-assembly {
            height: 64px;
            overflow: hidden;
            position: relative;
            padding: 0;
            // padding-left: 30px;
            // padding-right: 30px;

            .magnifier-line {
                position: relative;
                height: 50px;
                width: 350px;
                overflow: hidden;
                margin-left: 0;
                float: left;
                margin-top: 1px;
                background-color: #f9f9f9;
                padding: 6px 5px;
                width: 355px;

                .clearfix {
                    // display: block;
                    // font-size: 0;
                    // width: 350px;
                    // position: absolute;
                    // left: 0;
                    // z-index: 9997;

                    // &:before {
                    //     display: table;
                    //     line-height: 0;
                    //     content: "";
                    // }

                    li {
                        margin-right: 8px;
                        overflow: hidden;
                        float: left;
                        text-align: center;

                        border: 1px solid #EF3C79;

                        .small-img {

                            width: 50px;
                            height: 50px;
                            margin: 0;
                            padding: 0;
                            overflow: hidden;
                            border: 0;
                            text-align: center;
                            // border-color: #bbb;

                            img {
                                width: 50px;
                                height: 50px;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }

        .magnifier-view {
            width: 360px;
            height: 360px;
            // display: none;
            position: absolute;
            right: -105%;
            top: 0;
            z-index: 9999;
            background-color: #fff;
            overflow: hidden;

            img {
                display: block;
                margin-left: -1390px;
                margin-top: 0px;
            }
        }



    }


    .main1 {
        min-height: 460px;
        margin-bottom: 20px;
        border: solid 1px #EEE;
        position: relative;
        z-index: 2;
    }

    .main1:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
    }



    &:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .ncs-handle {
        width: 350px;
        height: 24px;
        padding-top: 10px;
        border-top: dotted 1px #EEE;
        padding-top: 9px;

        a {
            background-color: #FFF;
            float: left;
            padding: 1px 6px;
            margin-right: 5px;
            border: solid 1px #F5F5F5;
            border-radius: 4px;
            color: #575757;
        }

        // .share {

        //     color: #575757;
        // }

        // .favorite {
        //     color: #575757;
        // }

        // .compare {}

        .inform {
            float: right;
        }
    }





    .ncs-goods-summary {
        background-color: #FFF;
        float: right;
        z-index: -1;
        width: 830px;
        min-height: 460px;
        margin-right: 0px;
        border-left: solid 1px #EEE;





        .name {
            padding: 15px 15px;

            h2 {
                font: 700 16px/21px "Microsoft Yahei";
                color: #333;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                overflow: hidden;

            }
        }

        .ncs-meta {
            color: #FFF;
            background: #ededed;
            padding: 15px 0;
            position: relative;
            z-index: 3;

            p {

                height: 36px;

                span {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 30px;
                    height: 30px;
                }

                .ncsspan {
                    text-align: left;
                    width: 70px;
                    margin-left: 17px;
                    color: #777;
                }

                .cost-price {
                    text-align: left;
                    width: 510px;
                    text-decoration: line-through;
                    color: #a1a1a1;
                    font-weight: normal;
                }

                .price {
                    text-align: left;
                    width: 510px;
                    font: 700 30px/25px Tahoma;
                    vertical-align: middle;
                    color: #EF3C79;
                }

                .rate {
                    color: #777;
                    text-decoration: underline;
                    vertical-align: middle;
                    display: inline-block;
                }
            }

        }

        .ncs-freight {
            padding: 6px 0;

            .freight-span1 {
                display: inline-block;
                text-align: left;
                width: 70px;
                margin-left: 17px;
                color: #777;
            }

            .freight-DIV {
                display: inline-block;
                height: 28px;
                // float: left;
                margin-right: 6px;
                position: relative;
                z-index: 3;

                .DIV1 {
                    line-height: 26px;
                    background-color: #FFF;
                    height: 26px;
                    // float: left;
                    padding: 0 20px 0 15px;
                    border: solid 1px #E6E6E6;
                    position: relative;
                    z-index: 1;
                    // overflow: hidden;
                    cursor: pointer;

                    b {
                        display: block;
                        background: url(../images/shop/2014_ncs_public_img.png) no-repeat -50px -100px;
                        width: 8px;
                        height: 4px;
                        position: absolute;
                        top: 0px;
                        right: 6px;
                    }
                }

                // .DIV2 {}





            }

            .freight-span2 {
                display: inline-block;

                font-size: 16px;
                color: #ef3c79;
                margin: 0 8px;
                font-weight: bold;
                line-height: 28px;
            }

            .freight-span3 {
                font-size: 12px;
                line-height: 28px;
                color: #999;
                // float: left;
            }

        }

        .ncs-buy {
            display: block;
            clear: both;
            padding: 20px 0 20px 16px;
            position: relative;
            z-index: 1;

            .ncs-figure-input {
                vertical-align: top;
                display: inline-block;
                width: 65px;
                position: relative;
                z-index: 1;
                margin-right: 3px;





                .input-text {
                    color: #333;
                    font-family: Tahoma;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 41px;
                    text-align: center;
                    height: 41px;
                    width: 41px;
                    padding: 0;
                    border: solid 1px #E6E6E6;
                    outline: 0 none;
                    background-color: #FFF;
                    vertical-align: top;
                    display: inline-block;
                    font: 12px/20px Arial;
                }

                .increase {
                    position: absolute;
                    top: 5px;
                    left: 51px;

                    span {

                        // width: 7px;
                        // font-size: 16px
                        // height: 8px;
                    }

                    .addnum {
                        display: inline-block;
                        border: 6px solid;
                        border-color: #FFF #FFF#666 #FFF;
                        margin-bottom: 5px;
                    }



                    .nownum {
                        display: inline-block;
                        border: 6px solid;
                        border-color: #666 #FFF #FFF #FFF;


                    }
                }
            }


            .ncs-btn {
                vertical-align: top;
                display: inline-block;
                height: 42px;
                position: relative;
                z-index: 70;

                .addcart {
                    font: bold 16px/32px "Microsoft Yahei";
                    color: #FFF;
                    text-align: center;
                    display: inline-block;
                    height: 32px;
                    background-color: #EF3C79;
                    padding: 5px 12px;
                    margin-right: 5px;
                    border-radius: 2px;
                    position: relative;
                    overflow: hidden;
                }

                .buynow {
                    font: bold 16px/32px "Microsoft Yahei";
                    text-align: center;
                    display: inline-block;
                    background-color: #fff4f8;
                    color: #f03c79;
                    border: 1px solid #f03c79;
                    height: 30px;
                    padding: 5px 12px;
                    margin-right: 5px;
                    border-radius: 2px;
                    position: relative;
                    overflow: hidden;



                }
            }




        }

        .ncs-cti {
            margin-bottom: 10px;

            hr {
                font-size: 0;
                background-color: transparent;
                line-height: 0;
                width: 90%;
                margin: 0 auto;
                border: none;
                border-top: dotted 1px #E6E6E6;
            }

            dl {
                dt {
                    font-size: 12px;
                    line-height: 24px;
                    vertical-align: top;
                    letter-spacing: normal;
                    word-spacing: normal;
                    display: inline-block;
                    min-height: 24px;
                    padding: 6px 0 0;
                    text-align: left;
                    width: 70px;
                    margin-left: 17px;
                }

                dd {
                    font-size: 12px;
                    line-height: 24px;
                    vertical-align: top;
                    letter-spacing: normal;
                    word-spacing: normal;
                    display: inline-block;
                    min-height: 24px;
                    padding: 6px 0 0;
                    text-align: left;
                    width: 510px;
                    overflow: hidden;

                    span {
                        margin-right: 10px;
                        color: #999;
                        white-space: nowrap;

                        img {
                            vertical-align: middle;
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-right: 4px;

                        }
                    }
                }
            }

        }


    }



    .main2 {

        .main2left {
            width: 210px;
            float: left;

            .ncs-message-bar {
                border: solid 1px #ddd;
                margin-bottom: 10px;



                .default {
                    text-align: center;
                    padding: 9px;
                    border-bottom: solid 1px #ddd;
                    margin-top: -1px;
                    margin: 0;
                    border: 0;
                    overflow: hidden;

                    h5 {
                        line-height: 20px;
                        font-weight: 600;
                        display: inline-block;
                        font-size: 100%;
                    }

                    a {
                        display: inline-block;
                        margin-left: 10px;
                        cursor: pointer;

                        img {
                            vertical-align: top;
                        }
                    }
                }

                .default_store {
                    display: flex;
                    justify-content: space-around;

                    .store_name {
                        box-sizing: border-box;
                        width: 84px;
                        height: 30px;
                        border: 1px solid #ddd;
                        background: #f8f8f8;
                        margin: 10px;
                        text-align: center;

                        a {
                            line-height: 30px;
                            color: #575757;
                            text-decoration: none;
                        }
                    }

                    .store_attention {
                        box-sizing: border-box;
                        width: 84px;
                        height: 30px;
                        border: 1px solid #ddd;
                        background: #f8f8f8;
                        margin: 10px;
                        text-align: center;

                        a {
                            color: #575757;
                            text-decoration: none;
                            line-height: 30px;
                        }
                    }
                }

            }

            .ncs-class-bar {
                margin-bottom: 10px;

                .title {
                    background-color: #F7F7F7;
                    height: 20px;
                    padding: 5px 10px;
                    border: solid #DDD;
                    border-width: 1px 1px 0 1px;

                    h4 {
                        font: 600 14px/20px "Microsoft Yahei";
                        color: #666;
                    }
                }

                .ncs-content {

                    border: solid 1px #DDD;
                    background: #FFF;

                    p {
                        background-color: #F9F9F9;
                        border-bottom: solid 1px #E7E7E7;
                        height: 28px;

                        span {
                            text-align: center;
                            display: inline-block;
                            width: 23%;
                            height: 20px;
                            padding: 4px 0;

                            a {
                                line-height: 16px;
                                color: #777;
                                padding: 2px;
                            }
                        }
                    }

                    .ncs-search {
                        display: block;
                        padding: 5px;
                        border-bottom: dotted 1px #E6E6E6;

                        form {
                            input {
                                font: 12px/20px Arial;
                                color: #777;
                                background-color: #FFF;
                                vertical-align: top;
                                display: inline-block;
                                height: 20px;
                                padding: 4px;
                                border: solid 1px #E6E9EE;
                                outline: 0 none;
                                width: 120px !important;
                            }

                            a {
                                height: 20px;
                                padding: 5px 10px;
                                border-radius: 3px;
                                color: #575757;
                                text-decoration: none;
                                background-color: #CCD0D9;
                                text-align: center;
                                vertical-align: middle;
                                display: inline-block;
                                font: normal 12px/20px "microsoft yahei", arial;
                            }
                        }
                    }

                    .ncs-submenu {
                        width: 170px;
                        margin: 5px 13px 5px 15px;

                        li {
                            font-weight: 600;
                            text-align: left;
                            margin: 6px 0;
                            clear: both;

                            a {
                                max-width: 135px;
                                color: #333;
                                overflow: hidden;
                                line-height: 20px;
                                word-wrap: break-word;
                                display: inline-block;
                            }

                        }
                    }

                    .stc_229,
                    .stc_24,
                    #stc_32,
                    #stc_37,
                    #stc_43,
                    #stc_50 {
                        margin: 5px 0px 5px 20px;

                        li {
                            line-height: 20px;
                            font-weight: normal;
                            text-align: left;
                            margin: 4px 0;
                            clear: both;

                            a {
                                line-height: 20px;
                                word-wrap: break-word;
                                display: inline-block;
                                max-width: 135px;
                                color: #333;
                                overflow: hidden;
                            }
                        }
                    }


                }

            }




        }

        .mainright {
            width: 980px;
            float: right;

            .tabbar {
                width: 980px;

                ul {
                    font-size: 0;
                    background-color: #FFF;
                    border: solid #E6E6E6 1px;

                    li {
                        margin: 0px 0 -1px 0px;
                        vertical-align: top;
                        letter-spacing: normal;
                        word-spacing: normal;
                        display: inline-block;

                        a {
                            font: normal 14px/20px "Microsoft Yahei";
                            text-decoration: none;
                            color: #777;
                            background-color: #FFF;
                            display: block;
                            padding: 8px 35px 7px 35px;
                            border-style: solid;
                            border-color: #E6E6E6;
                            border-width: 0 1px 0 0;
                        }

                        .acti {
                            color: #333;
                            background-color: #FFF;
                            padding: 8px 35px 6px 35px;
                            border-style: solid;
                            border-color: #EF3C79 #DDD transparent #DDD;
                            border-width: 3px 1px 0 1px;
                            font: normal 14px/20px "Microsoft Yahei";
                            text-decoration: none;
                        }
                    }


                    .ncs-goodscode-box {
                        background: url(../imgs/details/ia_10060.png) no-repeat 115px 6px;
                        width: 160px;
                        font-size: 12px;
                        height: 36px;
                        line-height: 36px;
                        float: right;
                        position: relative;

                        a {
                            border-right: none;
                            color: #989898;
                            padding: 0 50px 0 0;
                            display: block;
                            text-align: right;
                            height: 100%;
                            cursor: pointer;
                            font-size: 12px;
                            line-height: 36px;
                        }

                        .ncs-goods-code {
                            width: 100px;
                            height: 130px;
                            position: absolute;
                            z-index: 1;
                            top: 35px;
                            right: -1px;
                            background: #FDFDFD;
                            display: none;
                            border: 1px solid #eee;
                            padding: 8px;

                        }

                        &:hover .ncs-goods-code {
                            display: block;
                        }
                    }






                }

                .tabdiv {
                    // width: 100px;
                    // height: 1000px;
                    display: none;
                }

                .tabDIV2 {
                    .top {
                        padding: 9px;
                        margin-bottom: 20px;
                        border: solid #E6E6E6;
                        border-width: 0 1px 1px;

                        .rate {
                            line-height: 20px;
                            color: #EF3C79;
                            vertical-align: middle;
                            display: inline-block;
                            margin: 10px 40px 10px 20px;

                            p {
                                strong {
                                    font: lighter 40px/40px arial;
                                    vertical-align: bottom;
                                    color: #ef3c79;
                                }

                                sub {
                                    font: 16px/20px arial;
                                    vertical-align: bottom;
                                    margin-right: 6px;
                                    color: #EF3C79;
                                }
                            }

                            span {
                                color: #999;
                                display: block;
                                clear: both;
                                line-height: 20px;
                            }
                        }

                        .percent {
                            vertical-align: middle;
                            display: inline-block;

                            dl {
                                dt {
                                    font-size: 12px;
                                    line-height: 20px;
                                    vertical-align: top;
                                    letter-spacing: normal;
                                    word-spacing: normal;
                                    display: inline-block;
                                    width: 80px;
                                    height: 20px;

                                    em {
                                        color: #999;
                                        margin-left: 4px;
                                    }
                                }

                                dd {
                                    background-color: #F5F5F5;
                                    vertical-align: top;
                                    letter-spacing: normal;
                                    word-spacing: normal;
                                    display: inline-block;
                                    width: 100px;
                                    height: 14px;
                                    margin: 3px 0;

                                    i {
                                        width: 100%;
                                        background-color: #EF3C79;
                                        display: block;
                                        height: 14px;
                                    }
                                }
                            }
                        }

                        .btns {
                            vertical-align: middle;
                            display: inline-block;
                            height: 60px;
                            padding-left: 30px;
                            margin-left: 400px;
                            border-left: dotted 1px #E6E6E6;

                            span {
                                color: #585858;
                            }

                            p {
                                a {
                                    text-align: center;
                                    vertical-align: middle;
                                    display: inline-block;
                                    height: 20px;
                                    padding: 5px 10px;
                                    border-radius: 3px;
                                    color: #fff;
                                    background-color: #EF3C79;
                                }
                            }
                        }
                    }

                    .ncs-goods-title-nav {
                        ul {
                            font-size: 0;
                            background-color: #FFF;
                            border: solid #E6E6E6 1px;

                            li {
                                vertical-align: top;
                                letter-spacing: normal;
                                word-spacing: normal;
                                display: inline-block;

                                a {
                                    font: normal 14px/20px "Microsoft Yahei";
                                    text-decoration: none;
                                    color: #777;
                                    background-color: #FFF;
                                    display: block;
                                    padding: 8px 35px 7px 35px;
                                    border-style: solid;
                                    border-color: #E6E6E6;
                                    border-width: 0 1px 0 0;
                                }
                            }

                            .current {
                                margin: -1px 0 -1px -1px;

                                a {
                                    color: #333;
                                    background-color: #FFF;
                                    padding: 8px 35px 6px 35px;
                                    border-style: solid;
                                    border-color: #EF3C79 #DDD transparent #DDD;
                                    border-width: 3px 1px 0 1px;
                                }
                            }
                        }
                    }


                    .ncs-commend-main {
                        padding: 20px 0 0 0;
                        border: solid #E6E6E6;
                        border-width: 0 1px 1px;

                        .ncs-norecord {
                            color: #999;
                            text-align: center;
                            height: 70px;
                            line-height: 70px;
                            padding: 15px 0;
                            background-color: #FFF;
                            border: none !important;
                        }
                    }

                }

                .tabDIV3 {
                    padding-bottom: 23px;

                    .ncs-loading {

                        .top {
                            padding: 9px;
                            margin-bottom: 20px;
                            border: solid #E6E6E6;
                            border-width: 0 1px 1px;

                            .ncs-cosult-tips {
                                width: 780px;
                                height: 65px;
                                float: left;
                                margin: 10px 0 5px 10px;
                                position: relative;
                                z-index: 1;

                                i {
                                    background: url(../imgs/details/ia_10047.png) no-repeat -80px 0;
                                    width: 147px;
                                    height: 65px;
                                    position: absolute;
                                    z-index: 1;
                                    top: 0;
                                    left: 0;
                                }

                                p {
                                    line-height: 18px;
                                    color: #9B827D;
                                    width: 700px;
                                    height: 36px;
                                    position: absolute;
                                    z-index: 1;
                                    top: 28px;
                                    left: 64px;
                                }
                            }

                            .ncs-cosult-askbtn {
                                float: right;
                                padding: 10px;

                                a {
                                    text-align: center;
                                    vertical-align: middle;
                                    display: inline-block;
                                    height: 20px;
                                    padding: 5px 10px;
                                    border-radius: 3px;
                                    color: #fff;
                                    background-color: #EF3C79;
                                }
                            }
                        }

                        .ncs-goods-title-nav {
                            margin-top: 0;

                            ul {
                                background-color: #FFF;
                                border: solid #E6E6E6 1px;
                                font-size: 0;

                                li {
                                    vertical-align: top;
                                    letter-spacing: normal;
                                    word-spacing: normal;
                                    display: inline-block;
                                    margin: -1px 0 -1px -1px;

                                    a {
                                        font: normal 14px/20px "Microsoft Yahei";
                                        text-decoration: none;
                                        color: #777;
                                        background-color: #FFF;
                                        display: block;
                                        padding: 8px 35px 7px 35px;
                                        border-style: solid;
                                        border-color: #E6E6E6;
                                        border-width: 0 1px 0 0;
                                    }


                                }

                                .currentt {
                                    a {
                                        display: block;
                                        font: normal 14px/20px "Microsoft Yahei";
                                        text-decoration: none;
                                        color: #333;
                                        background-color: #FFF;
                                        padding: 8px 35px 6px 35px;
                                        border-style: solid;
                                        border-color: #EF3C79 #DDD transparent #DDD;
                                        border-width: 3px 1px 0 1px;
                                    }
                                }
                            }
                        }

                        .ncs-cosult-main {
                            padding: 20px 0 0 0;
                            border: solid #E6E6E6;
                            border-width: 0 1px 1px;

                            .ncs-norecord {
                                color: #999;
                                text-align: center;
                                height: 70px;
                                line-height: 70px;
                                padding: 15px 0;
                                background-color: #FFF;
                                border: none !important;
                            }
                        }
                    }
                }


            }


        }



    }



}